# Allowed modifiers
# up, down, left, right, enter, and any character key

INFLATE_KEY=up
DEFLATE_KEY=down

#Panning of the camera
# Panning to the right looks as if the character is moving to the left
# Panning to the left looks as if the character is moving to the right
# E.g. PAN_RIGHT key is seen as the move left key for the character 
PAN_RIGHT_KEY=left
PAN_LEFT_KEY=right

BLOWUP_BALLOON = space
FANON_KEY=space
PAUSE_KEY=Enter
RESTART_KEY=R